*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

#outer{
    background-color: antiquewhite;
    width: 1270px;
    height: 585px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    gap: 30px;
}
.inner{
    background-color: rgb(143, 247, 247);
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 80px;
    height: 85px;
    border: 1px solid black;


}

